#ftl {
    color:#8B008B;
}

h1 {
    text-align:center;
    font-size:50px;
    color:darkblue;
    font-weight:bold;
}

html {
    font-family:sans-serif;
}

header {
    background-color:aqua;
}

h2 {
    font-size:40px;
    color:red;
    font-style: italic;
}

#fp1 {
    font-size:20px;
    font-weight:bold;
}

#fp2 {
    font-size:20px;
    font-weight:bold;
    color: darkblue
}

a {
    color:black;
}

footer {
    background-color:lightgreen;
    color:#8B008B;
}

#pD {
    font-size:20px;
    color:#00541A;
    font-weight:bold;
}

table {
    background-color:lightblue;
    font-size:20px;
    border:4px solid black;
    border-collapse:collapse;
}

td,th {
    border:4px solid black;
}

th {
    background-color: #045D6B;
    color: lightblue;
}
